body{
    font-family: 'Montserrat';
    text-align:center;
}
p{
    color: #8f8f8f;
    width:60%;
    margin:auto;
}
.biggest-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.second-heading{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}
.third-heading{
    font-weight:900;
    font-size: 1.5rem;
}
.navbar{
    padding-bottom: 6rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
}
.container-fluid{
    padding: 5% 17%;
}
.custom-button{
    margin:5% 3% 5% 0; 
}
.title-image{
    width:17%;
    transform: rotate(15deg);
    position: absolute;
    right:425px;
}

.imagestyle:hover{
    color: #ff4c68;
}
.imagestyle{
    color:#ef8172;
    font-size: 50px;
    margin:15px;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
.pricing-coloum{
    padding: 3% 2%;
}
.press-logo{
    width:15%;
    margin:20px 20px 50px 20px;
}
.btn-margin{
    margin-top:2%; 
    margin-bottom: 2%;
}
.footer-i{
    margin: 0 0.5%;
}

#testimonials{
    background-color: #ff4c68;
    color:#fff;
}
#press{
    background-color: #ff4c68;
    padding-bottom:3% ;
    padding-top: 4%;
}
#pricing{
    padding:100px;
    line-height: 2;
}
#cta{
    background-color: #ff4c68;
}
#title{
    background-color: #ff4c68;
    color: white;
    text-align: left;  
}
#title .container-fluid{
    padding-top: 3% 15% 7%;
}
#features{
    background-color: white;
    position: relative;
    z-index: 1;
}


@media (max-width:1250px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        width:60%;
        transform: rotate(0);
    }
} 
